{% extends "base.html" %}

{% block title %} Florida Roof Marketplace {% endblock %}

{% block content %}
{% load static %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-lg-6 intro-info order-lg-first order-last"  >
          <h2>Get your <span>free competitive<br></span> Re-roof quote today.
            {% comment %} Florida Roof Marketplace for Your <span>Business!</span></h2> {% endcomment %}
            <div class="d-flex justify-content-start">

              {% if user.is_authenticated %}
              {% else %}
              <div class="m-3">
                <a href="/accounts/signup/" class="btn-get-started scrollto">Get started for free detailed Quote</a>
              </div>
              {% endif %}
              <div class="m-3">
                <a href="/service_request/" class="btn-get-started scrollto">Free quick Quote</a>
              </div>
            </div>
            
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first"  >
          <img src=" {% static 'img/intro-img-4.svg' %}" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img"  >
              <img src="assets/img/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content"  >
              <h2>About Florida Roof Marketplace</h2>
              <h3>Connecting Clients with Reliable Roof Repair Service Providers</h3>
              <p>Florida Roof Marketplace is an online platform designed to connect clients in need of roofing services with reliable service providers who can fulfill those requests. Our goal is to simplify the process of finding and hiring professionals for your roofing needs.</p>
              <p>Whether you have a leaking roof, missing or damaged shingles, sagging roof, issues with flashing, valleys, low slope or poor roof pitch, gutter and downspout problems, fascia and soffit damage, roof truss issues, Florida Roof Marketplace is here to connect you with professionals to assist you.</p>
              <p>With our user-friendly website, clients can easily post their service requests and specify the type of roofing work they need. Professional Service providers registered on our platform can then browse through the requests and offer their services to fulfill those needs.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Quick and Convenient: Easily post your roof repair service requests.</li>
                <li><i class="bi bi-check-circle"></i> Connect with trustworthy and experienced professionals.</li>
                <li><i class="bi bi-check-circle"></i> We offer Wide Range of Services and solutions for all roofing needs.</li>
                <li><i class="bi bi-check-circle"></i> With our Simplified Process and Streamlined platform we provide efficient communication and transactions.</li>
                <li><i class="bi bi-check-circle"></i> With our professional providers we offer high-quality workmanship and customer satisfaction.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
   
<section id="services" class="services section-bg">
  <div class="container"> 
    <header class="section-header">
      <h3>Services</h3>
      <p>Connect with professional Service Providers for Your roofing needs</p>
    </header>
    
    <div class="row g-5">
    
      <div class="col-md-6 col-lg-4 wow bounceInUp"  >
        <div class="box">
          <div class="icon" style="background: #fceef3;"><i class="bi bi-wrench" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Compelete Re-roof Repair</a></h4>
          <p class="description">Professional removal and replacement of entire roof system.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #fff0da;"><i class="bi bi-file-earmark-excel" style="color: #e98e06;"></i></div>
          <h4 class="title"><a href="">Missing or Damaged Shingle Replacement</a></h4>
          <p class="description">Expert replacement of missing or damaged shingles to restore the integrity and appearance of your roof.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #e6fdfc;"><i class="bi bi-hammer" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a href="">We specialize in all types of roof systems.</a></h4>
          <p class="description">Asphalt Shingles, Metal Roof, Tile Roofs, Flat Roofs, Slate Roofs, TPO and much more.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4 wow"  >
        <div class="box">
          <div class="icon" style="background: #eafde7;"><i class="bi bi-lightning-charge" style="color:#41cf2e;"></i></div>
          <h4 class="title"><a href="">Flashing Repair</a></h4>
          <p class="description">Repair and replacement of damaged flashing to prevent water intrusion and maintain a watertight roof system.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #e1eeff;"><i class="bi bi-layers-half" style="color: #2282ff;"></i></div>
          <h4 class="title"><a href="">Valley Repair</a></h4>
          <p class="description">Expert repair of valleys, where two roof planes meet, to prevent water penetration and ensure proper drainage.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #ecebff;"><i class="bi bi-suit-heart" style="color: #8660fe;"></i></div>
          <h4 class="title"><a href="">Low Slope or Poor Roof Pitch Repair</a></h4>
          <p class="description">Specialized solutions to address low slope or poor roof pitch issues, improving water runoff and preventing leaks.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #fceef3;"><i class="bi bi-arrow-repeat" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Gutter and Downspout Repair</a></h4>
          <p class="description">Repair and maintenance of gutters and downspouts to ensure proper drainage and prevent water damage.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #fff0da;"><i class="bi bi-emoji-neutral" style="color: #e98e06;"></i></div>
          <h4 class="title"><a href="">Fascia and Soffit Repair</a></h4>
          <p class="description">Repair and replacement of damaged fascia and soffit boards, enhancing the aesthetics and protection of your roof.</p>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #e6fdfc;"><i class="bi bi-tools" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a href="">Roof Truss Repair</a></h4>
          <p class="description">Specialized repair and reinforcement of roof trusses to ensure the structural integrity of your roof system.</p>
        </div>
      </div>
    
      {% comment %} <div class="col-md-6 col-lg-4"  >
        <div class="box">
          <div class="icon" style="background: #eafde7;"><i class="bi bi-building" style="color:#41cf2e;"></i></div>
          <h4 class="title"><a href="">Garage Roof Repair</a></h4>
          <p class="description">Repair and restoration of garage roofs, addressing issues such as leaks, deterioration, and structural damage.</p>
        </div>
      </div> {% endcomment %}
    
    </div>
    
  </div>
</section><!-- End Services Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container-fluid">
    
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>We provide top-notch services for all your roofing needs. Our team of experts is dedicated to delivering exceptional results and ensuring customer satisfaction.</p>
        </header>
    
        <div class="row">
    
          <div class="col-lg-6"  >
            <div class="why-us-img">
              <img src="assets/img/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>
    
          <div class="col-lg-6">
            <div class="why-us-content">
              <p>With years of experience in the industry, we have gained a reputation for providing reliable and efficient roofing solutions. Our team handles roof repairs, installations, and maintenance with utmost professionalism.</p>
              <p>
                We pride ourselves on delivering high-quality craftsmanship, using premium materials to ensure the durability and longevity of your roof. Customer satisfaction is our priority, and we strive to exceed your expectations with every project.
    
                Whether you need roof repair, replacement, or a new installation, our skilled professionals are ready to serve you. Contact us today to schedule a consultation and experience the difference of working with us.
              </p>
    
              <div class="features clearfix" >
                <i class="bi bi-wrench" style="color: #f058dc;"></i>
                <h4>Expert Roofing Services</h4>
                <p>Our team provides a wide range of roofing services, including roof repair, installation, replacement, and maintenance. We have the expertise to handle any roofing project, big or small.</p>
              </div>
    
              <div class="features clearfix" >
                <i class="bi bi-check2" style="color: #ffb774;"></i>
                <h4>Quality Materials</h4>
                <p>We use only high-quality materials from trusted suppliers to ensure the longevity and performance of your roof. Our commitment to quality ensures that your investment is protected.</p>
              </div>
    
              <div class="features clearfix" >
                <i class="bi bi-heart" style="color: #589af1;"></i>
                <h4>Customer Satisfaction</h4>
                <p>Your satisfaction is our top priority. We strive to deliver exceptional service and exceed your expectations. Our team works closely with you to understand your needs and provide tailored solutions.</p>
              </div>
    
            </div>
    
          </div>
    
        </div>
    
      </div>
    
      <div class="container">
        <div class="row counters" >
    
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>
    
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
    
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
    
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>
    
        </div>
    
      </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" >
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Get Started Today</h3>
            <p class="cta-text">Are you ready to get your roof repaired by trusted professionals? Contact us now to schedule a consultation and receive a free quote. We are here to help you restore the integrity and durability of your roof.</p>
          </div>
          <!-- <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div> -->
        </div>
      </div>
    </section><!--  End Call To Action Section -->
    

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
    
        <div class="row feature-item">
          <div class="col-lg-6"  >
            <img src="{% static 'img/roofers-2891664_960_720.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0"  data-aos-delay="150">
            <h4>Reliable Roof Repair Services</h4>
            <p>
              At Florida Roof Marketplace, we provide reliable roof repair services to address all your roofing needs. Our team of skilled professionals is dedicated to ensuring the integrity and longevity of your roof.
            </p>
            <p>
              We specialize in installing complete new roof systems to fixing leaking roofs, replacing missing or damaged shingles, addressing sagging roofs, resolving issues with flashing, valleys, low slope or poor roof pitch, repairing gutter and downspout problems, fixing fascia and soffit damage, resolving roof truss issues, and offering garage roof repair services.
            </p>
          </div>
        </div>
    
        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2"  >
            <img src="{% static 'img/church-g165702177_640.jpg' %}" class="img-fluid" alt="">
          </div>
    
          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1"  data-aos-delay="150">
            <h4>Professional and Efficient Service</h4>
            <p>
              Our team of experienced professionals ensures that your roofing project is handled with utmost professionalism and efficiency. We strive to deliver high-quality results and provide excellent customer service throughout the process.
            </p>
            <p>
              We understand the importance of a functional and aesthetically pleasing roof, and we work diligently to meet your expectations. Whether it's a residential or commercial property, you can rely on us to deliver exceptional service and restore the condition of your roof.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->
    
    <!-- ======= Portfolio Section ======= -->
    {% comment %} <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row" >
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" >

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 1</a></h4>
                <p>App</p>
                <div>
                  <a href="assets/img/portfolio/app1.jpg" data-gallery="portfolioGallery" title="App 1" class="link-preview portfolio-lightbox"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 3</a></h4>
                <p>Web</p>
                <div>
                  <a href="assets/img/portfolio/web3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 2</a></h4>
                <p>App</p>
                <div>
                  <a href="assets/img/portfolio/app2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Card 2</a></h4>
                <p>Card</p>
                <div>
                  <a href="assets/img/portfolio/card2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 2</a></h4>
                <p>Web</p>
                <div>
                  <a href="assets/img/portfolio/web2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">App 3</a></h4>
                <p>App</p>
                <div>
                  <a href="assets/img/portfolio/app3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Card 1</a></h4>
                <p>Card</p>
                <div>
                  <a href="assets/img/portfolio/card1.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Card 3</a></h4>
                <p>Card</p>
                <div>
                  <a href="assets/img/portfolio/card3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Card 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html">Web 1</a></h4>
                <p>Web</p>
                <div>
                  <a href="assets/img/portfolio/web1.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section --> {% endcomment %}

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">
    <header class="section-header">
      <h3>Testimonials</h3>
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="testimonials-slider swiper">
          <div class="swiper-wrapper">
            {% for testimonial in testimonials %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>{{ testimonial.name }}</h3>
                <h4>{{ testimonial.type_of_client }}</h4>
                <p>
                  "{{ testimonial.message }}"
                </p>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Testimonials Section -->
    

    <!-- ======= Clients Section ======= -->
    {% comment %} <section id="clients" class="clients">
      <div class="container" >

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section --> {% endcomment %}

    <!-- ======= Pricing Section ======= -->
    {% comment %} <section id="pricing" class="pricing section-bg wow fadeInUp">

      <div class="container">

        <header class="section-header">
          <h3>Pricing</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <div class="row flex-items-xs-middle flex-items-xs-center">

          <!-- Basic Plan  -->
          <div class="col-xs-12 col-lg-4" >
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>19<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Basic Plan
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
                <a href="#" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>

          <!-- Regular Plan  -->
          <div class="col-xs-12 col-lg-4" >
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>29<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Regular Plan
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
                <a href="#" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>

          <!-- Premium Plan  -->
          <div class="col-xs-12 col-lg-4" >
            <div class="card">
              <div class="card-header">
                <h3><span class="currency">$</span>39<span class="period">/month</span></h3>
              </div>
              <div class="card-block">
                <h4 class="card-title">
                  Premium Plan
                </h4>
                <ul class="list-group">
                  <li class="list-group-item">Odio animi voluptates</li>
                  <li class="list-group-item">Inventore quisquam et</li>
                  <li class="list-group-item">Et perspiciatis suscipit</li>
                  <li class="list-group-item">24/7 Support System</li>
                </ul>
                <a href="#" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Pricing Section --> {% endcomment %}

    <!-- ======= F.A.Q Section ======= -->
    {% comment %} <section id="faq" class="faq">
      <div class="container">
        <header class="section-header">
          <h3>Frequently Asked Questions</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <ul class="faq-list" data-aso="fade-up" >

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section --> {% endcomment %}

  </main><!-- End #main -->



{% endblock %}