


{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section id="hero" class="clearfix">
    <div class="d-flex justify-content-center w-100 ">
    <div class="w-75 p-5 shadow rounded">


<h1>{{ object.service_area.name }} Details</h1>
<p>Created at: {{ object.created_at }}</p>
<p>Description: {{ object.description }}</p>


<div class="col-md-12 col-lg-8">
        <div class="header">
            <h2>Offers</h2>                            
        </div>
            <div class="table-responsive social_media_table">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Service Provider</th>
                            <th>cost_estimate</th>                                                                                
                            <th>completion_time</th>
                            {% comment %} <th>Share</th>
                            <th>Members</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in object.offer_set.all %}

                        <tr>
                            <td>#{{ offer.id }}</td>
                            </td>
                            <td><a href="{% url 'service:offer_detail' offer.pk %}">{{ offer.service_provider.business_name }}</a></td>
                            {% comment %} <span class="text-muted">Florida, United States</span> {% endcomment %}
                            </td>
                            {% comment %} <td>19K</td> {% endcomment %}
                            <td>${{ offer.cost_estimate }}</td>
                            <td>{{ offer.completion_time }} days</td>
                            {% comment %} <td>
                                <span class="badge badge-success">{{ offer.status }}</span>
                            </td> {% endcomment %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
</div>
{% comment %} <p>Cost Estimate: {{ offer.cost_estimate }}</p>
<p>Completion Time: {{ offer.completion_time }}</p>
<p>Status: {{ offer.status }}</p> {% endcomment %}

</div>
</div>
</section>
{% endblock %}