{% extends "base.html" %}

{% block head %}
    <title>{% block title %}Blogs{% endblock %}</title>
    <meta name="title" content="Florida Roof Marketplace Blog">
    <meta name="description" content="Blogs">
    <meta name="keywords" content="Blogs">
{% endblock %}

{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}

    <section id="hero" class="clearfix">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Loop through blog posts -->
                {% for post in blog_posts %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card shadow">
                            <div class="card-img-container">
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="card-img">
                            </div>
                            <div class="card-body">
                                <h2 class="card-title"><a href="{% url 'blog:blog_post_detail' title=post.title %}">{{ post.title }}</a></h2>
                                <p class="card-text">{{ post.short_content|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <style>
        .card-img-container {
            width: 100%;
            height: 200px; /* Set the desired fixed height */
            overflow: hidden;
        }
        .card-img {
            width: 100%;
            height: auto;
            object-fit: cover; /* Crop the image to fit the container */
            vertical-align: middle;
        }
    </style>
{% endblock %}
