
{% extends "base.html" %}

{% block head %}
  

<title>{% block title %} Blogs {% endblock %}</title>
<meta name="title" content="Florida Roof Marketplace blog">

<meta name="description" content="blogs">
<meta name="keywords" content="Blogs">
        
{% endblock %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}   


<section id="hero" class="clearfix">
    <div class="container">
        <div class="row justify-content-center">
            

            <!-- blog_post_list.html -->
            {% for post in blog_posts %}
            <h2><a href="{% url 'blog:blog_post_detail' title=post.title %}">{{ post.title }}</a></h2>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" width="200">
            <p>{{ post.content }}</p>
            <!-- Display other fields as needed -->
            {% endfor %}


        </div>
    </div>
</section>
{% endblock %}
