<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% block head %}
  

  <title>{% block title %} Florida Roof Marketplace {% endblock %}</title>
  <meta name="title" content="Florida Roof Marketplace">

  <meta name="description" content=" Florida Roof Marketplace is an online platform designed to connect clients in need of rooftop repair services with reliable service providers who can fulfill those requests. Our goal is to simplify the process of finding and hiring professionals for various roof repair needs. ">
  <meta name="keywords" content="    Rooftop repair services,
                                      Reliable service providers,
                                      Leaking roof,
                                      Damaged shingles,
                                      Sagging roof,
                                      Flashing issues,
                                      Valley problems,
                                      Low slope roof,
                                      Poor roof pitch,
                                      Gutter and downspout repair,
                                      Fascia and soffit damage,
                                      Roof truss issues,
                                      Garage roof repair,
                                      Roofing contractors,
                                      Roof repair marketplace,
                                      Online roofing services,
                                      Roofing professionals,
                                      Roofing solutions,
                                      Roofing experts,
                                      Roof maintenance,">
          
  {% endblock %}
  {% load static %}
  <!-- Favicons -->
  {% comment %} <link href="{% static 'img/favicon.png' %}" rel="icon"> {% endcomment %}
  {% comment %} <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> {% endcomment %}
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <!-- Google Fonts -->
  {% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet"> {% endcomment %}

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <a href="/">
          <img src="{% static 'img/florida_roof_marketplace_2.png' %}" alt="Florida Roof Marketplace">
        </a>
      </h1>      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li> {% endcomment %}
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="/service_request_list/">My Requests</a></li>
              {% endif %}
              <li class="dropdown"><a href="#"><span>Companies</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for sp in all_service_providers %}
                  <li><a href="{% url 'service:service_provider_detail' sp.pk %}">{{ sp.business_name }}</a></li>
                  {% endfor %}
                  
                </ul>
              </li>
              {% if user.is_authenticated %}
                  {% if user_service_provider %}
                    <li><a href="{% url 'service:service_provider_detail' user_service_provider.pk %}">Company Profile</a></li>
                    <li><a href="/client_service_request_list/">Service request</a></li>
                  {% else %}
                    <li><a href="{% url 'service:service_provider_create' %}">Create Company Profile</a></li>
                  {% endif %}
              {% endif %}
              
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/service_request/">Post Request</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="/accounts/logout/">Sign out</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/accounts/signup/">Sign up</a></li>
          <li><a class="nav-link scrollto" href="/accounts/login/">Sign in</a></li>
          {% endif %}

          {% comment %} <li><a class="nav-link scrollto" href="#footer">Contact</a></li> {% endcomment %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      {% comment %} <div class="social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div> {% endcomment %}

    </div>
  </header><!-- End Header -->

<!-- details page -->
{% comment %} <div class="d-flex justify-content-center w-220 ">
    <div class="w-75 p-5 shadow rounded"> {% endcomment %}
      {% block content %}
      {% endblock %}
    {% comment %} </div>
  </div> {% endcomment %}
<!-- /details page -->




  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div class="row">

              <div class="col-sm-12">
                <div class="footer-info">
                  <h3>Florida Roof Marketplace</h3>
                  <p>At Florida Roof Marketplace, we connect clients in need of reliable rooftop repair services with trusted service providers. Our mission is to simplify the process of finding and hiring professionals to meet your roof repair needs.</p>
                </div>
              
                {% comment %} <div class="footer-newsletter">
                  <h4>Stay Informed with Our Newsletter</h4>
                  <p>Sign up for our newsletter to receive the latest updates and expert insights on rooftop repair and maintenance. Stay ahead with valuable tips and industry news to keep your roof in optimal condition.</p>
                  <!-- <form action="" method="post">
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <input type="submit" value="Subscribe">
                  </form> -->
                </div> {% endcomment %}
              </div>
              

              {% comment %} <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>

              </div> {% endcomment %}

            </div>

          </div>

          {% comment %} <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.</p>

              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>

                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>

            </div>

          </div> {% endcomment %}

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>oykamal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
        {% comment %} Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> {% endcomment %}
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>  
</body>

</html>